body,h2{
    margin: 0;
    padding: 0;
}
#i1{
    position: absolute;
    bottom: -200px;
    left: 150px;
    width: 10%;
    height: 20%;
}
#i2{
    position: absolute;
    bottom: -200px;
    left: 150px;
    width: 10%;
    height: 20%;
}
#i3{
    position: absolute;
    bottom: -200px;
    left: 40%;
    width: 15%;
    height: 15%;
}
#i4{
    position: absolute;
    bottom: -200px;
    left: 40%;
    width: 15%;
    height: 15%;
}
#i5{
    position: absolute;
    bottom: -200px;
    right: 150px;
    width: 15%;
    height: 20%;
}
#i6{
    position: absolute;
    bottom: -200px;
    right: 150px;
    width: 15%;
    height: 20%;
}
.f{
    transform:rotate(8deg);
    -ms-transform:rotate(8deg); /* Internet Explorer */
    -moz-transform:rotate(8deg); /* Firefox */
    -webkit-transform:rotate(8deg); /* Safari and Chrome */
    -o-transform:rotate(8deg); /* Opera */
}
.f1{
    transform:rotate(-8deg);
    -ms-transform:rotate(-8deg);
    -moz-transform:rotate(-8deg);
    -webkit-transform:rotate(-8deg);
    -o-transform:rotate(-8deg);
}
.f2{
    transform:rotate(8deg);
    -ms-transform:rotate(8deg);
    -moz-transform:rotate(8deg);
    -webkit-transform:rotate(8deg);
    -o-transform:rotate(8deg);
}
.o{
    filter: alpha(opacity=80);/*IE 透明度80% */
    -moz-opacity: 0.8;/*Firefox 透明度80% */
    opacity: 0.8;/*其他 透明度80% */
}
.d1{
    position: absolute;
    color: #00EEEE;
    font-size: 40px;
    top: 30px;
    right: 200px;
}
.d2{
    position: absolute;
    color: #00EEEE;
    font-size: 15px;
    top: 90px;
    right: 100px;
}
#content{
    position: absolute;
    width: 100%;
    top: 100px;
    text-align: center;
}
#button{
    margin-top: 30px;
}
.btn{
    width:150px;
    height: 30px;
    font-size: 15px;
    border: 0;
    border-radius: 5px;
}
.btn1{
    margin-right: 200px;
    background-color: #1169EE;
}
.btn2{
    background-color: #1AE694;
}
.introduction{
    margin: 30px auto;
    width: 400px;
    height: 200px;
    border-radius: 20px;
    background-color: #023048;
    display: none;
}
.w{
    text-align: center;
    color: dodgerblue;
}
.video{
    margin: 30px auto;
    display: none;
}
#footer{
    width: 100%;
    position: absolute;
    bottom: 15%;
}
ul,li{
    list-style: none;
}
.c{
    float: left;
    margin-right: 25%;
}
.c ul{
    display: none;
    position: absolute;
}
.ct{
    width: 50%;
    height: 100%;
    margin: auto;
    position: relative;
}
.num{
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

